*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.log
*.sqlite3
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.gitignore
LICENSE
*.md
.sass-cache
.vagrant/
__pycache__
dist
docs
env
.env
logs
**/settings/local.py
node_modules
stats
dockerfile

**/migrations/**
!**/migrations/__init__.py

static/*
media/*

!media/.gitkeep
!static/.gitkeep

data