<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{message}}</h1>
                <a href="{{link}}" class="btn btn-primary">Click</a>
            </div>
            <div class="col-sm-4">
                <h3>Contact Us</h3>
                <p>Phone: 555-555-1212</p>
                <p>Email: info@example.com</p>
            </div>
        </div>
    </div>
  </body>
</html>
